<div id="ct-grid">
  <div class="ct-cell" *ngFor="let codetude of codetudes">
    <div class="ct-card" (click)="onCodetudeClicked(codetude)">
      <div
        class="ct-card-preview"
        [ngStyle]="{
          'background-image': codetude.previewImageId | backgroundImage | async
        }"
      ></div>
      <div class="ct-card-content">
        <p class="ct-card-content-title">{{ codetude.title || '' }}</p>
        <p class="ct-card-content-description">
          <ng-container *ngIf="codetude.description">
            {{ codetude.description | snippet: 200 }}
          </ng-container>
        </p>
        <p *ngIf="codetude.started">
          {{ codetude.started | date: 'MMMM y':'+0000' }}
        </p>
        <div>
          <app-tag *ngFor="let tag of codetude.tags" [model]="tag"></app-tag>
        </div>
      </div>
      <div class="not-live-cover" *ngIf="!codetude.live">
        <div class="not-live-corner"><div class="not-live-icon"></div></div>
        <div class="not-live-icon">
          <span class="glyphicon glyphicon-eye-close"></span>
        </div>
      </div>
    </div>
  </div>
</div>
