#ct-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

.ct-card {
  height: 100%;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(150, 150, 150);
  cursor: pointer;
}

.ct-card:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.35);
}

.ct-card-preview {
  /* TODO just do overflow thing from filter button */
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;

  background-color: rgb(230, 230, 230); /* fallback */
  background-image: url('../../../assets/images/preview.jpg');
  background-size: cover;

  height: 10em;
}

.ct-card-content {
  padding: 1em 1em 0.75em 1em;
}

.ct-card-content > :last-child {
  margin-bottom: 0;
}

.ct-card-content-title {
  margin: 0;
  font-size: 1.5em;
}

@media (min-width: 675px) {
  #ct-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  #ct-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
