<div class="codetudes">
  <div class="header">
    <div class="title">Codetudes</div>
    <ng-container *ngIf="userIsLoggedIn()">
      <app-circle-button
        class="header-button"
        [iconClass]="'plus'"
        (click)="createNewCodetude()"
      ></app-circle-button>
      <app-circle-button
        class="header-button"
        [iconClass]="'tags'"
        (click)="navigateToTags()"
      ></app-circle-button>
      <app-circle-button
        *ngIf="codetudesDisplayMode === CodetudesDisplayMode.Table"
        class="header-button"
        [iconClass]="'th'"
        (click)="setCodetudesDisplayMode(CodetudesDisplayMode.Grid)"
      ></app-circle-button>
      <app-circle-button
        *ngIf="codetudesDisplayMode === CodetudesDisplayMode.Grid"
        class="header-button"
        [iconClass]="'align-justify'"
        (click)="setCodetudesDisplayMode(CodetudesDisplayMode.Table)"
      ></app-circle-button>
    </ng-container>
  </div>

  <div class="filter-bar">
    <app-codetude-filter
      (appliedFacetsChanged)="onAppliedFacetsChanged($event)"
      (filterFacetModeChanged)="onFilterFacetModeChanged($event)"
    ></app-codetude-filter>
  </div>

  <app-codetude-grid
    *ngIf="codetudesDisplayMode === CodetudesDisplayMode.Grid"
    [codetudes]="displayedCodetudes"
    (codetudeClicked)="navigateToCodetudeDetails($event)"
  ></app-codetude-grid>
</div>
