.codetudes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  grid-column-gap: 1rem;
  align-items: center;
  font-weight: bold;
}

.header-button {
  font-size: 1.25rem;
  justify-self: end;
}

.title {
  font-size: 2em;
}

.filter-bar {
  margin-top: 1rem;
}
