<div id="codetudes">
  <div class="header">
    <div class="title">Codetudes</div>
    <ng-container *ngIf="userIsLoggedIn()">
      <app-circle-button
        class="header-button"
        [iconClass]="'plus'"
        (click)="createNewCodetude()"
      ></app-circle-button>
      <app-circle-button
        class="header-button"
        [iconClass]="'tags'"
        (click)="navigateToTags()"
      ></app-circle-button>
    </ng-container>
  </div>

  <div id="ct-filter">
    <app-codetude-filter
      (appliedFacetsChanged)="onAppliedFacetsChanged($event)"
      (filterFacetModeChanged)="onFilterFacetModeChanged($event)"
    ></app-codetude-filter>
  </div>

  <app-codetude-grid
    [codetudes]="displayedCodetudes"
    (codetudeClicked)="navigateToCodetudeDetails($event)"
  ></app-codetude-grid>
</div>
