.codetudes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

/* Set's default width to expand to max size of app-content, but it can still shrink with window resizing*/
.width-spacer {
  width: 1000px;
}

.header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 1rem;
  align-items: center;
  font-weight: bold;
}

.header-buttons {
  display: flex;
  justify-content: flex-end;
}

.header-button {
  font-size: 1.25rem;
  margin-right: 1rem;
}

.header-button:last-child {
  margin-right: 0;
}

.title {
  font-size: 2em;
}

.filter-bar {
  margin-top: 1rem;
}

.no-matches-message,
.match-count {
  font-style: italic;
  text-align: center;
}
