<div class="tag-manager">
  <div
    *ngIf="editMode; then tagManagerEditMode; else tagManagerDisplayMode"
  ></div>
</div>
<ng-template #tagManagerDisplayMode>
  <div class="tag-manager-display" (click)="toggleEditMode()">
    {{ model.name }}
  </div>
  <button class="tag-manager-button" (click)="toggleEditMode()">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
  <button class="tag-manager-button" (click)="delete()">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
</ng-template>
<ng-template #tagManagerEditMode>
  <input
    class="tag-manager-input"
    [placeholder]="getPlaceholder()"
    [(ngModel)]="model.name"
    (keydown)="onInputKeydown($event)"
    #tagManagerInput
  />
  <button
    class="tag-manager-button"
    [disabled]="!nameHasChanged()"
    (click)="acceptChanges()"
  >
    <span class="glyphicon glyphicon-ok"></span>
  </button>
  <button class="tag-manager-button" (click)="discardChanges()">
    <span class="glyphicon glyphicon-ban-circle"></span>
  </button>
</ng-template>
