<div class="tags-container">
  <div><app-back-button></app-back-button></div>
  <div><!-- heading --></div>
  <div class="tags-list-container">
    <ng-container *ngIf="tags && tags.length">
      <div *ngFor="let tag of tags">
        <app-tag-manager
          [model]="tag"
          (tagDeleted)="onTagDeleted($event)"
        ></app-tag-manager>
      </div>
    </ng-container>
    <div>
      <span> <input [(ngModel)]="newTagName" placeholder="New Tag" /> </span>
      <span> <button (click)="create()">CREATE</button> </span>
    </div>
  </div>
</div>
