<div class="tags-container">
  <div><app-back-button></app-back-button></div>
  <div class="header"><h1>Tag Management</h1></div>
  <div class="tags-list-container">
    <div class="new-tag">
      <input
        class="new-tag-input"
        placeholder="New Tag"
        [(ngModel)]="newTagName"
        (keydown)="onNewTagInputKeydown($event)"
      />
      <button
        class="new-tag-button"
        [disabled]="!newTagName"
        (click)="create()"
      >
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
    <ng-container *ngIf="tags && tags.length">
      <div *ngFor="let tag of tags">
        <app-tag-manager
          [model]="tag"
          [tagToDelete]="confirmedTagToDelete"
          (tagDeleteClicked)="onTagDeleteClicked($event)"
          (tagDeleted)="onTagDeleted($event)"
        ></app-tag-manager>
      </div>
    </ng-container>
  </div>
</div>

<app-modal
  #deleteTagModal
  [headerText]="deleteTagModalHeaderText"
  [bodyText]="deleteTagModalBodyText"
  [confirmText]="deleteTagModalConfirmText"
  [cancelText]="deleteTagModalCancelText"
  (didConfirm)="onDeleteTagModalDidConfirm($event)"
></app-modal>
