.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  width: 80%;
  font-size: 1rem;
  overflow: hidden;
}

.modal-header-padding,
.modal-body-padding {
  padding: 1rem;
}

.modal-header {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1.75em;
}

.modal-body-padding {
  min-height: 5em;
  display: grid;
}

.modal-body-text {
  align-self: start;
}

.modal-footer {
  align-self: end;
  display: grid;
  justify-items: center;
}
