<div>
  <div class="input-bar">
    <input
      placeholder="Viewing All Tags (type to filter)"
      [(ngModel)]="filterValue"
      (ngModelChange)="onFilterChange()"
    />
  </div>
  <div class="included-section">
    <div class="included-header">
      Included ({{ displayedTagsOnCodetude.length }})
    </div>
    <app-tag
      *ngFor="let tag of displayedTagsOnCodetude"
      [cursor]="'pointer'"
      [model]="tag"
      (click)="removeTag(tag)"
    ></app-tag>
    <div class="empty-text" *ngIf="!displayedTagsOnCodetude.length">Empty</div>
  </div>
  <div class="not-included-section">
    <div class="not-included-header">
      Not Included ({{ displayedTagsNotOnCodetude.length }})
    </div>
    <app-tag
      *ngFor="let tag of displayedTagsNotOnCodetude"
      [cursor]="'pointer'"
      [model]="tag"
      (click)="addTag(tag)"
    ></app-tag>
  </div>
  <div class="empty-text" *ngIf="!displayedTagsNotOnCodetude.length">Empty</div>
</div>
