.input-bar {
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  margin-top: 0.5rem;
}

input {
  font-size: inherit;
  padding: 0.5em;
  background-color: inherit;
  border-style: none;
  width: 100%;
  outline: none;
}

.included-section {
  margin-top: 1rem;
}

.not-included-section {
  margin-top: 1rem;
}
