<div>
  <div class="input-bar">
    <input
      placeholder="Viewing All Tags (type to filter)"
      [(ngModel)]="filterValue"
      (ngModelChange)="onFilterChange()"
    />
  </div>
  <div class="included-section">
    <div>Included</div>
    <app-tag
      *ngFor="let tag of displayedTagsOnCodetude"
      [cursor]="'pointer'"
      [model]="tag"
      (click)="removeTag(tag)"
    ></app-tag>
  </div>
  <div class="not-included-section">
    <div>Not Included</div>
    <app-tag
      *ngFor="let tag of displayedTagsNotOnCodetude"
      [cursor]="'pointer'"
      [model]="tag"
      (click)="addTag(tag)"
    ></app-tag>
  </div>
</div>
