<div class="filter-facet" (click)="onClick()">
  <div class="background-primer" (click)="(null)">
    <div class="icon">
      <span
        *ngIf="model.type === FilterFacetType.Tag"
        class="glyphicon glyphicon-tag"
      ></span>
      <span
        *ngIf="model.type === FilterFacetType.Text"
        class="glyphicon glyphicon-font"
      ></span>
    </div>
    <div class="body">
      <div class="body-text">{{ model.value }}</div>
      <div class="body-match-count">&nbsp;{{ matchCount }}&nbsp;</div>
    </div>
  </div>
</div>
