.title-container {
  margin-top: 0.5em;
  font-size: 2em;
  font-weight: bold;
}

.preview {
  background-color: rgb(230, 230, 230); /* fallback */
  background-image: url('../../../assets/images/preview.jpg');
  background-size: cover;
  height: 10em;

  display: grid;
}

.subtitle {
  font-size: 1.5em;
  font-weight: bold;
}

.description {
}

input {
  font-size: inherit;
  font-weight: inherit;
  background-color: inherit;
  border-style: none;
  outline: none;
  padding: 0;
  width: 100%;
}

.subtitle-em {
  font-size: 1.5em;
  font-weight: bold;
}
.description-em {
  width: 100%;
  font: inherit;
  resize: vertical;
}
