<div *ngIf='model && !model.isInEditMode'>
    <div>
        <span class='title'>{{model.src.title}}</span>
    </div>
    <div>
        <span class='subtitle'>{{model.src.subtitle}}</span>
    </div>
    <div>
        <span class='description'>{{model.src.description}}</span>
    </div>
    <div>
        <a class='link' href='{{model.src.sourceCodeLink}}'>Source Code</a>
    </div>
    <div>
        <a class='link' href='{{model.src.liveDemoLink}}'>Live Demo</a>
    </div>
    <div>
        <app-tag *ngFor='let tag of model.src.tags' [model]='tag'></app-tag>
    </div>
    <button (click)='toggleEditMode()'>Edit</button>
</div>
<div *ngIf='model && model.isInEditMode'>
    <div>
        <input class="title-em" [(ngModel)]='model.src.title'>
    </div>
    <div>
        <input class="subtitle-em" [(ngModel)]='model.src.subtitle'>
    </div>
    <div>
        <textarea class="description-em" [(ngModel)]='model.src.description'></textarea>
    </div>
    <div>
        <input class="link-em" [(ngModel)]='model.src.sourceCodeLink'>
    </div>
    <div>
        <input class="link-em" [(ngModel)]='model.src.liveDemoLink'>
    </div>
    <div>
        <app-tag *ngFor='let tag of model.src.tags' [model]='tag'></app-tag>
    </div>
    <button (click)='toggleEditMode()'>Edit</button>
</div>