input,
textarea {
  font: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border-style: none;
  outline: none;
  background: rgba(0, 0, 0, 0);
  padding: 0;
  width: 100%;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.mode-button {
  font-size: 1.25rem;
  justify-self: end;
}

.title-container {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 0.4em;
}

.preview {
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  height: 12rem;
  margin-top: 1rem;
  cursor: pointer;
  display: grid;
  align-content: end;
  grid-row-gap: 1rem;
}

.preview.in-edit-mode {
  cursor: default;
}

.preview:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.35);
}

.preview-image-controls-container {
  display: grid;
  justify-items: end;
}

.preview-image-controls {
  color: white;
  background: rgba(51, 51, 51, 0.8);
  padding: 0.4em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}

#previewImageInput {
  position: absolute;
  width: 1px;
  height: 1px;
}

#remove-image-button {
  cursor: pointer;
}

label[for='previewImageInput'] {
  cursor: pointer;
}

.preview-caption {
  color: white;
  background: rgba(51, 51, 51, 0.8);
  padding: 0.4em;
}

.subtitle-container {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1rem;
}

.description-container {
  margin-top: 1rem;
}

.description-container textarea {
  height: auto;
  resize: vertical;
}

.source-code-container {
  color: white;
  background: rgba(51, 51, 51, 0.8);
  padding: 0.5em;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.tags-container {
  margin-top: 1rem;
  border-radius: 5px;
  overflow: hidden;
}

.tags-header {
  color: white;
  background: rgba(51, 51, 51, 0.8);
  padding: 0.5em;
}

.tags-body {
  background: rgba(51, 51, 51, 0.1);
  padding: 0.5em 0.5em 0.25em 0.5em;
}
