<div class="codetude-detail">
  <div class="header">
    <app-back-button></app-back-button>
    <ng-container *ngIf="userCanEdit">
      <div class="mode-button">
        <app-circle-button
          *ngIf="!inEditMode()"
          (click)="toggleEditMode()"
          [iconClass]="'pencil'"
        ></app-circle-button>
        <app-circle-button
          *ngIf="inEditMode()"
          (click)="toggleEditMode()"
          [iconClass]="'ok'"
        ></app-circle-button>
      </div>
    </ng-container>
  </div>

  <!-- Title -->
  <div class="title-container">
    <ng-container *ngIf="!inEditMode()">
      <div>{{ model.src.title }}</div>
    </ng-container>

    <ng-container *ngIf="inEditMode()">
      <input
        class="title-input"
        placeholder="Title"
        [(ngModel)]="model.src.title"
        (ngModelChange)="onFieldChanged()"
      />
    </ng-container>
  </div>

  <!-- Preview -->
  <div class="preview" (click)="navigateToLiveDemoLink()">
    <!-- Live Demo -->
    <div class="preview-caption">
      <ng-container *ngIf="!inEditMode()">
        <span class="glyphicon glyphicon-link"></span>
        <span>&nbsp;View Live Demo</span>
      </ng-container>
      <ng-container *ngIf="inEditMode()">
        <span>Live Demo Link:</span>
        <input
          placeholder="Live Demo Link"
          [(ngModel)]="model.src.liveDemoLink"
          (ngModelChange)="onFieldChanged()"
        />
      </ng-container>
    </div>
  </div>

  <!-- Subtitle -->
  <div class="subtitle-container">
    <ng-container *ngIf="!inEditMode()">
      <div>{{ model.src.subtitle }}</div>
    </ng-container>

    <ng-container *ngIf="inEditMode()">
      <input
        placeholder="Subtitle"
        [(ngModel)]="model.src.subtitle"
        (ngModelChange)="onFieldChanged()"
      />
    </ng-container>
  </div>

  <!-- Description -->
  <div class="description-container">
    <ng-container *ngIf="!inEditMode()">
      <div class="description">{{ model.src.description }}</div>
    </ng-container>

    <ng-container *ngIf="inEditMode()">
      <textarea
        rows="10"
        placeholder="Description"
        [(ngModel)]="model.src.description"
        (ngModelChange)="onFieldChanged()"
      ></textarea>
    </ng-container>
  </div>

  <!-- Source Code -->
  <div class="source-code-container" (click)="navigateToSourceCodeLink()">
    <ng-container *ngIf="!inEditMode()">
      <span class="glyphicon glyphicon-link"></span>
      <span>&nbsp;View Source Code</span>
    </ng-container>

    <ng-container *ngIf="inEditMode()">
      <span>Source Code Link:</span>
      <input
        placeholder="Source Code Link"
        [(ngModel)]="model.src.sourceCodeLink"
        (ngModelChange)="onFieldChanged()"
      />
    </ng-container>
  </div>

  <!-- Tags -->
  <div class="tags-container">
    <div class="tags-header">
      <span class="glyphicon glyphicon-tags"></span>
      <span>&nbsp;&nbsp;Tags</span>
    </div>
    <div class="tags-body">
      <ng-container *ngIf="!inEditMode()">
        <app-tag *ngFor="let tag of model.src.tags" [model]="tag"></app-tag>
      </ng-container>

      <ng-container *ngIf="inEditMode()">
        <app-tag-selector
          [tagsOnCodetude]="model.src.tags"
          (tagAdded)="onTagAdded($event)"
          (tagRemoved)="onTagRemoved($event)"
        ></app-tag-selector>
      </ng-container>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <div *ngIf="inEditMode()"><button (click)="delete()">DELETE</button></div>
</div>
